<!doctype html>
<html lang="en">
    <head>
    {% block starthead %}{% endblock starthead %} 
        <meta charset="{{ resource.meta.charset }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
        <meta name="description" content="{{ resource.meta.description }}">
        <meta name="author" content="{{ resource.meta.author }}">

    {% block css %}
        <link rel="stylesheet" href="{{ media_url('/normalize.min.css') }}">
        <link rel="stylesheet" href="/main.css">
    {% endblock css %}
    {% block favicons %}
        <link rel="apple-touch-icon" href="{{ media_url('/apple-touch-icon.png') }}">
        <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
    {% endblock favicons %}
    <!--[if lt IE 9]>
        <script src="{{ media_url('/html5-3.6-respond-1.4.2.min.js') }}"></script>
    <![endif]-->
    {% block endhead %}{% endblock endhead %} 
    </head>
    <body>
    {% block content %}
        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">{{ resource.meta.description }}</h1>
                <nav>
                    <ul>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="#">nav ul li a</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            {% block container %}
            <div class="main wrapper clearfix">

                <article>
                    <header>
                    {% block header -%}
                        <h2>{{ resource.meta.header }}</h2>
                    {%- endblock header %} 
                    </header>

                    <section>{% block main %}{% endblock main %}</section>
                </article>

                <!--<aside><h3>aside</h3><p></p></aside>-->
            </div> <!-- #main -->
            {% endblock container %}
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                Powered by <a href="https://hyde.github.io/">hyde</a>.
                Colors from <a href="http://ethanschoonover.com/solarized">Solarized</a>.
            </footer>
        </div>
    {% endblock content %}
    </body>
</html>
